body{
    color: skyblue;
    background: darkgreen;
}
h3{
    width: 80%;
    font-size: 22px;
}
#camera{
    width: 350px;
    height: 300px;
}
#result_of_objects, #result_of_accuracy{
    color: red;
}